[2018-02-16 12:53] fitzgen opened #3 "Team"
`svelte` needs a team of people who can review each other's pull requests, and make consensus-based decisions together about its future.

Anyone who has made two meaningful contributions to `svelte` should seriously consider joining the team!

Drop a comment here if you are interested in joining.

[2018-02-16 13:02] fitzgen opened #4 "Support for more binary formats"
We can use  [`goblin`](https://crates.io/crates/goblin) to parse IR nodes, but parsing IR edges might be a little trickier. The `DW_TAG_call_site` [<sup>0</sup>](https://docs.rs/gimli/0.15.0/gimli/constant.DW_TAG_call_site.html) [<sup>1</sup>](http://www.dwarfstd.org/ShowIssue.php?issue=100909.2) attribute, if present in the DWARF debugging information, could help. Otherwise, we'll need to disasse

[2018-02-16 13:06] fitzgen opened #5 "Do something reasonable with indirect calls"
Maybe just root all the functions that could possible be called indirectly.

[2018-02-16 13:13] fitzgen opened #6 "Add command to list/sort by monomorphizations"
* I want to be able to investigate monomorphizations of generic functions
    * list generic functions by the total code size of all of their monomorphizations
    * how many times was this generic function monomorphized?
    * how much space would I save if I switched to dynamic dispatch and trait objects for this generic function instead of monomorphization?

We can implement this by inspecting

[2018-02-16 13:17] fitzgen opened #7 "Add a `cargo-svelte` command"
This would do `cargo build` and then run `svelte target/..` on the just-built binary.

We would need to pass through whatever extra flags to `cargo`.

A little bit tricky to figure out the path for the just-built binary. Maybe a `cargo` knowledgable person can out.

[2018-02-16 13:25] fitzgen opened #8 "Support emitting more kinds of output"
Right now we support:

* [X] human readable text

but it would be great to also emit:

* [ ] CSV
* [ ] Graphviz Dot
* [ ] JSON

See `./traits/traits.rs` and grep for `impl Emit for`

[2018-02-16 13:42] fitzgen opened #9 "Emit standalone, interactive HTML pages with Yew"
We should be able to emit an HTML file containing:

* the *whole* serialized IR graph (not just one analysis on it) as JSON
* a base 64 encoded `.wasm` blob, that contains a Yew app that deserializes the IR graph and then interactively runs any analysis on it that you might choose.

This HTML file would be able to be sent easily as an email attachment or uploaded to a bug tracker, etc. Since it is

[2018-02-16 13:43] fitzgen commented on #9
And whoever you sent this HTML file to wouldn't need to have `svelte` already installed either.

[2018-02-16 13:59] fitzgen commented on #9
Also, the web would be a good place to create visualizations like  [tree maps](https://en.wikipedia.org/wiki/Treemapping)

[2018-02-16 14:06] fitzgen opened #10 "Add the `svelte paths` command"
The readme says it exists, but it doesn't yet.

[2018-02-16 14:06] fitzgen opened #11 "Add the `svelte dominators` command"
Again, the readme says it exist, but it doesn't yet

[2018-02-16 14:36] fitzgen opened #12 "Add `svelte diff` to diff code sizes between two different versions of the same binary"
Probably a table similar to `svelte top` but sorted by absolute size of delta.

[2018-02-16 15:01] #11 closed

[2018-02-16 19:13] fitzgen opened #13 "Add options for controlling `svelte dominators` output"
* [ ] maximum depth in dominator tree
* [ ] maximum number of rows to include in output, regardless of depth

Each of these involves new fields on the `Dominator` struct in `./opt/opt.rs`.

The `DominatorTree` struct in `analyze/analyze.rs` should make and hold a copy of the `opt::Dominators` options.

Then, the `impl traits::Emit for DominatorTree` should consult the new options and modify its ou

[2018-02-16 19:42] fitzgen opened #14 "Change `svelte top`'s sort-by option to be a boolean flag"
Right now it is `--sort-by (shallow|retained)` with default to `shallow`. But that means that one would never do `--sort-by shallow`, so this option only exists to enable sorting by retained size. So it should just be `-r/--retained` instead of the current behavior.

This mostly involves changing the option parsing in `opt/opt.rs`.

[2018-02-16 22:14] fitzgen opened #15 "Add ability to display specific subtree of dominators tree"
`$ svelte dominators $FUNCTION` should display just the given function's subtree in the dominator tree.

[2018-02-16 22:44] fitzgen opened #16 "Computing some function indices wrong..."
For example:

[code]

[2018-02-16 22:49] #10 closed

[2018-02-16 22:52] fitzgen opened #17 "Add ability to summarize items by crate/namespace"
Maybe named

[code]

?

Bonus points if we selectively summarize some items within certain crates/namespaces, but leave others un-summarized. For example, collapse all of `std` into one row in a result table, but have all the items in `my_crate` un-summarized.

[2018-02-16 23:05] fitzgen opened #18 "Add ability to specify max path depth and max number of paths"
Similar to #13 but for the `svelte paths` subcommand.

Should be able to control how deep we will print paths, and how many total paths we will print.

Check out `opt/opt.rs` for options parsing and `analyze/analyze.rs` for adjusting behavior based on those options.

[2018-02-16 23:32] sendilkumarn commented on #3
I am in 🙂

[2018-02-16 23:42] fitzgen commented on #13
@sendilkumarn, this could be a good issue for you to pick up! :)

[2018-02-17 12:59] sendilkumarn commented on #14
we are already using `-r` for retained_path, we can use the long path (`--retained`) alone here

[2018-02-18 23:22] #13 closed

[2018-02-19 00:07] #14 closed

[2018-02-20 17:59] #18 closed

[2018-02-22 19:21] pepyakin opened #24 "Incorrect indexing into functions"
Function exports refer functions via global function index. And global index space consist of all imported items concatenated with all defined items in the module.

Here is the code that uses global index to index into function section.
https://github.com/fitzgen/svelte/blob/5e1bcd3404583c05d8427e6900b967a52ec098e9/parser/wasm.rs#L400-L404

This code is incorrect because it uses to a global index

[2018-02-27 23:59] fitzgen commented on #9
@mbebenita wants something like this to integrate into wasm studio. In this use case, crucially, it would be able to parse new binaries live in the website, not work only with some extant parsed IR.

[2018-02-28 01:58] mbebenita commented on #9
We can handle this use case through WebAssembly.Studio fiddle URLs.

[2018-03-06 19:07] haxxorsid opened #27 "Output destination as a file not working"
Try this out:
`svelte dominators wee_alloc.wasm -o output.txt`

Also causes an error if output.txt is not present. It must create the file if the file is not present.
And also update options info for help.

[2018-03-06 19:29] fitzgen commented on #27
Thanks for filing an issue!

I'm not sure I understand -- can you elaborate?

[2018-03-06 19:32] haxxorsid commented on #27
I mean: show the information of options somewhere, like:
_-o - the destination to write the output to. Defaults to `stdout`._

So people can know that this option is available. I had to dig into the code, to see if such option exists.

[2018-03-06 20:26] fitzgen commented on #27
Doing

[code]

should show general help, and then

[code]

will show help that is specific to `top` (could also be `dominators`, etc).

Does that work for you?

[2018-03-06 20:27] fitzgen commented on #27
[code]

[2018-03-06 20:28] haxxorsid commented on #27
oh yeah.

[2018-03-06 21:13] #27 closed

[2018-03-07 05:32] sendilkumarn commented on #24
@pepyakin I think it is #16

That is what I have tried in #22 to determine global indices on the fly [here](https://github.com/sendilkumarn/svelte/blob/81982b8db50bd0cf961e259e7372cc6bd00e1683/parser/wasm.rs#L399-L433)

[2018-03-19 13:11] kud1ing opened #30 "Name collision with https://svelte.technology/"
:(

[2018-04-12 00:04] #30 closed

[2018-04-13 17:44] bnjbvr commented on #5
(Just a random thought as I happen to read through these issues: if a function table is exported, all the functions must be implicitly rooted, since the JS table api contains setters.)

[2018-04-13 19:40] fitzgen commented on #5
I'm not sure I follow -- You mean that the JavaScript APIs for working with a wasm module allow you to mutate the function tables?

[2018-04-14 09:46] bnjbvr commented on #5
Oops, I confused myself. That will teach me to write something in a hassle :slightly_smiling_face:
Only functions that are set in elements of function tables should be rooted, which is what you said in the initial comment. Sorry about the noise.

[2018-04-16 21:06] mre opened #34 "Add license"
Hi,

I wanted to add twiggy to the list of linters at [awesome-static-analysis](https://github.com/mre/awesome-static-analysis/pull/155), but I was unsure about the license of the code. Can we add a license to the project? 😃

[2018-04-17 16:45] fitzgen commented on #34
Thanks for pointing this out @mre!

D'oh, looks like I forgot to ever add a license. I'm thinking the standard MIT/Apache-2 that most rust projects use.

Can everyone who has contributed drop a quick comment confirming this is OK? If not, I'll have to rewrite git history to remove your contributions and it will be a pain, so you'd be doing me a huge favor by agreeing :)

cc @s3bk @sendilkumarn @Hy

[2018-04-17 17:08] s3bk commented on #34
sure.

[2018-04-17 20:05] jimblandy commented on #34
Sure, the license change is okay with me.

[2018-04-18 00:27] fitzgen commented on #8
Note: JSON support was recently added.

[2018-04-18 13:39] #16 closed

[2018-04-18 13:39] #24 closed

[2018-04-18 17:42] Hywan commented on #34
Agree :-).

[2018-04-18 17:44] janczer commented on #34
Sure :)

[2018-04-18 20:03] #6 closed

[2018-04-19 06:59] sendilkumarn commented on #34
Completely agree. Also, I would like to add a similar license to all the projects in this org. (if it is fine)

🎉

[2018-04-26 22:20] fitzgen opened #45 "Improve finding edges to data segments"
Ok, clearly this wasm's size has a lot going on in the data section:

[code]

Which functions are using this data?

[code]

No edges to the data segments found. I don't believe that is accurate.

[2018-05-02 21:48] fitzgen opened #46 "When should we publish twiggy on crates.io?"
I guess it feels good enough for me now, but wondering if anyone else has any opinions.

[2018-05-03 18:16] fitzgen commented on #46
Consensus at the wg meeting was yes.

[2018-05-03 21:17] fitzgen commented on #46
https://crates.io/crates/twiggy done!

[2018-05-03 21:17] #46 closed

[2018-05-04 02:58] fitzgen opened #48 "Add a `twiggy garbage` subcommand to find unreachable items"
This would print code and data that is not transitively referenced by any exports / public functions. Since linkers and compilers tend to remove dead code, this is more likely to find bugs in our IR graph, but that is also a useful thing ;)

[2018-05-07 00:30] data-pup commented on #48
This looks like it would be fun! I would love to try and tackle this one. I can start looking into it tomorrow I believe. Let me know if you have any advice :)

[2018-05-07 01:51] fitzgen commented on #48
@data-pup great! I would suggest using [`petgraph::visit::Dfs`](https://docs.rs/petgraph/0.4.12/petgraph/visit/struct.Dfs.html) traversal starting from the [meta-root](https://github.com/rustwasm/twiggy/blob/ece63ac9d02cd1e12c131b8bbb07be4c2a8094ba/ir/ir.rs#L186-L190) to collect the set of all items that are not garbage (ie transitively reachable from some exported or public item). Then, I would i

[2018-05-07 01:57] fitzgen commented on #48
This would mostly be implemented in `analyze/analyze.rs`. Although there is a bit of plumbing to add in most of the crates.

https://github.com/rustwasm/twiggy/commit/aa3330d9981d6568550c86a55c50795fc954380c is a good example of what implementing a new sub command is like.

[2018-05-07 12:50] data-pup commented on #48
Awesome! That makes sense to me 🙂

[2018-05-09 23:25] #48 closed

[2018-05-10 18:34] fitzgen commented on #15
@data-pup go for it!

[2018-05-11 04:11] jaroslaw-weber opened #52 "twiggy top default parameters"
Hey, I tried to use "twiggy top" but it asks me about parameters. It would be nice to have default parameters, especially that in readme it says "use twiggy top" but don't mention parameters.

[2018-05-11 15:01] yishn opened #53 "Failed to run custom build command for `twiggy-opt v0.1.0`"
I'm trying to install twiggy with cargo, but on my Windows 10 I'll encounter the following build error:

[code]

Any ideas of what's going on here?

[2018-05-11 15:45] fitzgen commented on #53
It seems like maybe there are unix style path separators in the build script or something? But I had the impression that windows would do the Right Thing with them these days...

This is also purely speculation.

I will swap out the unwraps with expects, so we can get a better idea of which operation is failing, and then it would be really useful if you could try building again so we can pinpoint

[2018-05-11 15:49] fitzgen commented on #53
D'oh, I know what this is.

I'm spawning `sh` in `build.rs` and that is probably not gonna work on windows...

[2018-05-11 16:48] #53 closed

[2018-05-11 16:48] fitzgen commented on #53
@yishn can you verify that twiggy builds on windows on master now? Thanks!

[2018-05-11 17:02] fitzgen opened #56 "Each output format should be gated behind a cargo feature"
The twiggy binary should enable them all by default. The wasm API should enable only the JSON output format.

[2018-05-11 17:03] fitzgen opened #57 "`twiggy paths` should default to everything if no specific items are given"
Maybe a good next issue to tackle for you, @data-pup

[2018-05-11 17:05] fitzgen opened #58 "`twiggy paths` should work with regexes"
It can be annoying to specify the whole item name, including the hash at the end. We should support doing just `my_crate::.*` etc.

[2018-05-11 17:11] data-pup commented on #57
Ahh, yeah that'd be awesome! I'll start looking into this once I'm done with the subtree PR :)

[2018-05-11 17:17] #52 closed

[2018-05-11 18:12] yishn commented on #53
Now twiggy builds fine on master! Thank you for the fast response!

[2018-05-11 19:36] data-pup opened #59 "`twiggy dominators` should work with regexes"
Once #51 lands, we should add functionality that allows the subtree argument given to `twiggy dominators` to be a regex.

Question: This might also require implementing the ability to print multiple subtrees, is that correct? cc: @fitzgen

[2018-05-17 01:42] data-pup commented on #58
I can start working on this one when I am done working on #57!

[2018-05-18 16:20] fitzgen commented on #57
Fixed in #63

[2018-05-18 16:20] #57 closed

[2018-05-18 17:38] data-pup commented on #58
Now that #63 landed, I can start looking into this issue. Any advice on getting the regexes working is welcome, I figure the process here will end up looking very similar to whatever we need to do to get #59 fixed too.

[2018-05-18 20:07] fitzgen commented on #58
The [regex crate](https://crates.io/crates/regex) is a joy to work with :)

[2018-05-22 17:53] fitzgen commented on #56
@csmoe maybe this is something you might be interested in picking up, since you're now intimately familiar with how different formats are emitted :)

[2018-05-23 07:39] csmoe commented on #56
ok, I'll take care of this.

[2018-05-23 14:32] data-pup commented on #58
Solved in #65.

[2018-05-23 14:32] #58 closed

[2018-05-23 19:57] data-pup commented on #15
This was solved in #51. Closing this now :)

[2018-05-23 19:57] #15 closed

[2018-05-23 20:07] fitzgen commented on #15
FYI, if you put "fixes #1234" in a commit message or PR description, it will automatically close the issue when merged :)

[2018-05-23 21:35] data-pup commented on #15
Ahh thanks! I had been tagging them, but it's good to know that there is a specific syntax for that :+1:

[2018-05-23 21:43] #59 closed

[2018-05-24 02:33] csmoe commented on #56
@fitzgen do you mean this: `cargo twiggy --features json|csv|...`

[2018-05-24 17:45] data-pup opened #69 "Add compatibility with ELF binaries"
Tracking issue for adding ELF compatibility to twiggy.

#4 lists some binary formats that we would like to add compatibility for, including ELF, Mach-O, and PE/COFF. These might be somewhat involved tasks, so this issue will specifically track work/discussion related to adding ELF compatibility.

As mentioned in that issue, we can use [goblin](https://crates.io/crates/goblin) to parse IR nodes.

[

[2018-05-24 18:23] fitzgen commented on #69
Thanks for digging into this :)

* I think we can largely handle both Mach-O and ELF at the same time by using `object`. They both use DWARF, and `object` allows us to just ask for the DWARF info without caring whether the thing is ELF or Mach-O.

* Just to start, I would suggest only constructing the call graph, essentially. Using `DW_AT_call_site` and the info about inlined routines (IIRC `DW_AT

[2018-05-29 08:15] srenatus commented on #45
_Update_ -- I've found a reference for my 💭 points above: https://github.com/rust-lang-nursery/rust-wasm/issues/21 ✅

[2018-05-29 16:55] fitzgen commented on #45
Accessing `array[i]` -- where `array` is some global data array and `i` is our *static* index into it -- will translate roughly into

[code]

The `i` is the static offset in that code snippet.

The thing is, this will only work for static indices, where the offset is embedded in the instruction. Any kind of dynamic indexing into the array won't be seen by this (very simple, conservative) analysis.

[2018-05-30 08:49] srenatus commented on #45
@fitzgen thanks for shedding some light on this 😃

[2018-06-12 21:49] #56 closed

[2018-06-25 16:40] steveklabnik commented on #53
I am seeing this again

[code]

[2018-06-25 16:43] steveklabnik commented on #53
Oh, apparently this just needs to be in a release; master does work.

[2018-06-25 21:52] fitzgen opened #72 "Use wasm-pack"
* [ ] in CI
* [ ] publishing to npm

[2018-06-25 21:55] fitzgen opened #73 "Use the wasm relocations custom section if available"
It will actually tell us which functions are using which data. The `parity_wasm` crate also parses the relocations section, so it shouldn't be too hard to add support for.

If we did this, and our results are noticably better when we have relocations, then we should also document how to build rust to wasm and preserve relocations.

[2018-07-10 23:23] #69 closed

[2018-07-18 12:23] data-pup opened #88 "Add summaries to other sub-commands"
#84 added a summary to the output of the 'garbage' sub-command, which looks like this:

[code]

I think this is a *really* fantastic idea. Should we add a similar feature to other sub-commands as well? I think the 'top' and 'diff' would be a good start, although I am less sure about the others.

It could be neat to do something similar for the paths command, like this:

[code]

(That's imagining w

[2018-07-18 14:53] fitzgen commented on #88
Sounds great to me.

[2018-07-19 22:33] fitzgen opened #93 "Convert the README into an mdbook"
Similar to wasm-bindgen's mdbook set up

[2018-07-20 00:08] data-pup commented on #88
I was thinking more about the comment linked in #84: https://github.com/rustwasm/team/issues/214#issuecomment-405413733

They were using this command: `twiggy garbage -n 99999 main_bg.wasm | wc -l`

Would it be a good idea to add some sort of `--all` flag that would ensure that all items are shown? I don't think that would be too hard to take care of, but I'll look into it and follow up. If that s

[2018-07-20 00:17] fitzgen commented on #88
`--all` sounds good to me

[2018-08-03 23:29] fitzgen opened #104 "Fix deprecation warning in usage of failure crate"
The new `iter_causes` method does the `skip(1)` dance for us and now `causes` is deprecated too.

[code]

[2018-08-05 21:59] userzimmermann commented on #104
Hi @fitzgen :) Anybody working on this already? If not then please assign to me! It feels like the perfect start into the Rust WebAssembly world :8

[2018-08-06 18:41] #104 closed

[2018-08-06 23:30] data-pup opened #109 "Add an '--all' flag to show all items."
Currently, we are working on adding logic to display summaries of truncated rows for different sub-commands in #88. This is nice because the number of items is displayed, but it would be nice if we had an `--all` option to simply display all items, instead of something like `--max-items $BIG_NUMBER`.

The `top` sub-command would be a nice place to start, but this should eventually be done for all

[2018-08-06 23:31] data-pup commented on #109
@userzimmermann This might be a nice issue for you, if you're looking for other issues to work on here :smile_cat:

[2018-08-07 09:46] userzimmermann commented on #109
Definitely, @data-pup! I already created the branch for the PR... :)

[2018-08-11 18:55] userzimmermann commented on #109
Don't worry ;) I'm still on it! But first had to deal w/ some confusion when running tests :D #116

[2018-08-11 19:04] userzimmermann opened #117 "Add AppVeyor CI for Windows"
Hi! As a Windows user I was pretty confused about all those twiggy tests failing locally on my laptop... Until I figured it out that it's only about different line endings in expected output. I fixed that for now in #116 but think it would be generally good to also continuously run the build and tests on Windows via [AppVeyor](https://www.appveyor.com) integration. I have experience with AppVeyor

[2018-08-13 17:46] fitzgen commented on #117
I have very little experience with AppVeyor, so if you could get all the scripts and metadata set up, then I could do the admin/config flip switching. Thanks for volunteering!

[2018-08-15 20:22] data-pup opened #125 "Add arguments to `monos` command"
Building off of some discussion in #120:

[2018-08-15 20:25] data-pup commented on #8
While digging about for solutions to another issue, I noticed the petgraph crate offers Dot output. This might be useful for some of the sub-commands :)

https://docs.rs/petgraph/0.4.12/petgraph/dot/index.html

[2018-08-17 14:35] userzimmermann commented on #125
@data-pup: I'll take care of that :) I'm in such a twiggy flag run... I just can't stop anymore ;P

[2018-08-19 20:52] data-pup commented on #125
Awesome! Thanks for helping out @userzimmermann :smile_cat: I know the feeling :P

[2018-08-20 16:44] data-pup opened #130 "Add benchmarks to project"
Currently, we have a fairly thorough test bench. It would be nice however, if we also had some benchmarks for the different sub-commands, so that we could reason about how certain changes affect performance.

[2018-09-04 17:10] kumpera opened #151 "twiggy crashes with mono binaries"
Hello,

I'm trying to use twiggy 0.2.0 with mono's wasm port and hitting this crash on OSX:

[code]

To reproduce it. Download this file: https://jenkins.mono-project.com/job/test-mono-mainline-wasm/926/label=ubuntu-1804-amd64/Azure/processDownloadRequest/926/ubuntu-1804-amd64/sdks/wasm/mono-wasm-24c1f2a40c1.zip

Then run twiggy: `twiggy top debug/mono.wasm`

[2018-09-04 18:06] fitzgen commented on #151
Thanks for the bug report!

Are there >= 2^32 - 1 elements entries in that wasm?? o_O That is quite an achievement!

[2018-09-04 18:07] kumpera commented on #151
That sounds unlikely, it's a 6mb binary.

[2018-09-04 18:14] fitzgen commented on #151
On master I get a slightly different panic:

[code]

[2018-09-04 18:30] fitzgen commented on #151
I have a fix locally, cleaning it up. Thanks again for the bug report @kumpera!

[2018-09-04 18:32] kumpera commented on #151
Thank you so much for looking into this.
I hope my team can join in helping twiggy to be the go-to tool for analyzing wasm binaries.

[2018-09-04 18:45] fitzgen commented on #151
Fix is over at https://github.com/rustwasm/twiggy/pull/152

Great to hear this! I think the best thing you could do for now is just use twiggy as much as possible, file bugs when you hit them, request missing features that you end up needing, etc! There are a relatively small number of folks using twiggy right now, so more real world usage would be very helpful! :)

[2018-09-04 21:07] #151 closed

[2018-09-08 00:06] #5 closed

[2018-10-02 08:18] Praveer1981 opened #166 "How Can I Build this applicaiton"
Hi,
Is there any way to build it and get the twiggy.exe ?

[2018-10-02 16:50] fitzgen commented on #166
If you are just trying to use it, see https://github.com/rustwasm/twiggy#-install

If you want to build and develop locally, see https://github.com/rustwasm/twiggy/blob/master/CONTRIBUTING.md#building-and-testing Afterwards the binary will be somewhere like `target/{debug,release}/twiggy[.exe]`.

[2018-10-02 16:50] #166 closed

[2018-10-03 07:05] Praveer1981 opened #168 "It fails to output when I use .wasm file of 3+ MB"
Hi,
It seems to me that this tool is not capable of producing the output when the .wasm file size is bigger(even 5 MB ). However, it works well when I use a small size .wasm file.
Do you have any plan to fix this issue and release a new version of twiggy.exe.

[2018-10-03 12:10] data-pup commented on #168
Hello! Thanks for filing an issue! That sounds troublesome, would love to look into this more. Do you happen to have any examples of the error you see when this happens? If possible, a link to a wasm binary that causes this might also be useful.

[2018-10-03 18:17] fitzgen commented on #168
Hi @Praveer1981, as @data-pup mentions we need more information to understand the bug so we can fix it.

Help us help you and provide us with:

* The input `.wasm` file that Twiggy is failing on
* The exact command you are running, for example: `twiggy top input.wasm`
* Any console output, error messages and stack traces produced.
* The version of Twiggy you are running (or is it `master` from git

[2018-10-05 21:48] alexcrichton opened #174 "Dominators with depth 1 seemingly doesn't demangle names"
Using `twiggy-opt 0.3.0` on a wasm file as `twiggy dominators -d 1 foo.wasm` (trying to get all the roots of large sizes) prints out a lot of entries as `func [xx]`. I found this somewhat confusing because the wasm binary had the function names subsection, but it turns out that I needed to path `-d 2` because it looks like in the dominator tree there's a function node which dominates the node with

[2018-10-05 21:50] alexcrichton opened #175 "Twiggy dominators depth 1 doesn't add up to the whole file size"
Using [this wasm file](https://gist.github.com/alexcrichton/1c73f54d63bcab63fe9c6bc279d90c3d#file-pulldown_cmark_wasm_bg-wasm) you get:

[code]

The file itself is 212k bytes, but the numbers on the left don't seem to add up to that. Is some data left out by accident perhaps?

[2018-10-05 21:52] fitzgen commented on #174
I think the real fix is to get info from the name section for both the `Code[n]` element and the `Func[n]` element.

[2018-10-05 21:52] alexcrichton opened #176 "Twiggy dominators row limiting seems to be ignored"
Using [this wasm file](https://gist.github.com/alexcrichton/1c73f54d63bcab63fe9c6bc279d90c3d#file-pulldown_cmark_wasm_bg-wasm) executing `twiggy dominators -r 1` still seems to print all the rows! The `--help` page though indicates that `-r` is the maximum number of rows to display

[2018-10-05 22:06] fitzgen opened #177 "The item name for wasm type entries should have the stringified type"
## 💡 Feature Description

We should render the human readable type along with which entry in the types section it is.

The change needs to happen in the `parse_items` trait method impl for `TypeSection`: https://github.com/rustwasm/twiggy/blob/master/parser/wasm_parse/mod.rs#L248-L249

#### 💻 Example Usage

Right now we get output like:

[code]

but instead we should have output like:

[code]

[2018-10-05 22:18] fitzgen commented on #175
This is most likely "garbage" that we can't figure out how it is referenced from any function. We should add some sort of total unreachable stuff row to this output.

[2018-10-10 17:15] fitzgen opened #183 "`twiggy garbage` should hide/summarize "garbage" data by default"
## 💡 Feature Description

When twiggy garbage reports false positives, they are often data segments. The reason is that code accessing data segments can do arbitrary computations to conjure up a data segment's linear memory address and we only recognize a very limited pattern of `(load (const $addr))`.<sup>*</sup>

To avoid reporting so many false positives, by default we should hide individual un

[2018-10-10 17:16] fitzgen commented on #183
+cc @tschneidereit

[2018-10-10 17:51] #177 closed

[2018-10-11 17:39] Cldfire commented on #183
I have a (I think) finished implementation of this locally. I need to update the test cases, though, and I have to leave for class right now, so it will have to wait until I get back later.

Hopefully you will see a PR from me tonight!

[2018-10-11 21:05] fitzgen commented on #183
@Cldfire great! Can't wait to see!

[2018-10-13 00:09] #183 closed

[2019-01-08 20:11] fitzgen opened #223 "Build dist binaries in CI and attach them to releases"
We shouldn't require `cargo install` to get twiggy -- we should have pre-built binaries that we distribute for releases. This requires some CI configuring and all that.

[2019-01-12 14:50] Badel2 opened #226 "wasm files must have `.wasm` extension."
## 🐛 Bug Description

twiggy fails to detect wasm files when they don't have a `.wasm` extension.

twiggy version: twiggy-opt 0.3.0

#### 🌍 Test Case

Any file works, for example [this one (5MB)](https://github.com/Badel2/comphdl/raw/24bf9e4b7281703875e4f80194ce02db43092c54/demo/nightly/Cargo.cbf6baa7.cargo-web-398fc556ba2b08aea6f4fadc3880dfdf).

#### 👟 Steps to Reproduce

[code]

#### 😲 Actual Be

[2019-01-14 17:06] fitzgen commented on #226
Thanks for filing a bug @Badel2! We have code to fallback to auto-detection of the input binary's type, but we don't have tests for it, and --therfore unsurprisingly-- it looks like that functionality is broken.

[2019-01-14 17:09] fitzgen commented on #226
It looks like we mistakenly always try to do the generic-binary-with-DWARF path if there is no extension and the "dwarf" feature is enabled. Instead, we should try and sniff the kind of thing we are looking at, and if it is wasm, do the wasm path, and if not, do the generic-binary-with-DWARF path.

This could be a good first issue for a motivated contributor!

https://github.com/rustwasm/twiggy/bl

[2019-01-14 18:04] fitzgen commented on #226
Some more details:

* Wasm files begin with a "magic number" that can help sniffing: https://webassembly.github.io/spec/core/binary/modules.html#binary-magic
* As do ELF (https://en.wikipedia.org/wiki/Executable_and_Linkable_Format#File_header) and Mach-O (https://lowlevelbits.org/parsing-mach-o-files/ is quickest reference I can find).

Since we use `object` for non-wasm binaries, I think we can

[2019-01-14 18:06] sepiropht commented on #226
I want to try !

[2019-01-14 18:53] fitzgen commented on #226
@sepiropht ok! Contributing docs are over here: https://github.com/rustwasm/twiggy/blob/master/CONTRIBUTING.md Let me know if you have any questions :)

[2019-02-19 23:34] data-pup commented on #175
Working on this now, pardon the delay! Took care of text output today, should be able to fix the csv and json output & put a PR for this up shortly!

[2019-02-22 15:30] alexcrichton opened #248 "Twiggy doesn't account for 100% of a binary's bytes"
Currently twiggy does an excellent job at profiling things like function sizes and such, but its accounting doesn't always add up to 100% of the bytes in a file. For example on WebAssembly there's an 8 byte header on all wasm files unaccounted for, section ids and the leb128 to say how big a section is is also not accounted for.

It'd be neat if internally we could refactor this to perhaps have ov

[2019-02-22 18:10] fitzgen commented on #248
Anything shared should be its own node in the graph with multiple incoming edges (which is what it means to be shared)

[2019-02-22 23:29] alexcrichton commented on #248
I should also mention that I haven't actually tested this out yet so it may already work! I can try to give this a stab sometime soon

[2019-02-25 16:43] alexcrichton commented on #248
Ok so I've tested this out and I'm not sure this quite works the way I'm thinking, but @fitzgen perhaps you can double check my thinking?

I'm imagining something like:

[code]

Doing that locally I get things that look like:

[code]

which looks like data is being double counted, because the sizes are overlapping. What I'm ideally looking for is that the size for `data section headers` is `sizeof

[2019-02-25 19:48] fitzgen commented on #248
If we kept track of which section every item was from, we could do this computation somewhat directly.

But in general, the nested intervals of memory approach that you seem to be conceptualizing is a bit different from the graph-based approach that twiggy takes right now. And I think we can certainly improve what we have and bridge the gap, but I also think we should be deliberate and careful not

[2019-02-26 02:30] alexcrichton commented on #248
I think that'd work yeah, but after some more thought I think we may be able to implement this, at least for wasm, in a [simpler fashion](https://github.com/rustwasm/twiggy/pull/250)

[2019-02-26 15:06] #248 closed

[2019-02-27 19:28] data-pup commented on #176
I believe that this will be fixed when #244 lands! :smiley_cat:

[2019-02-27 20:35] #175 closed

[2019-02-27 21:01] data-pup commented on #176
Fixed :)

[2019-02-27 21:01] #176 closed

[2019-02-27 21:19] data-pup opened #251 "Format code w/ `cargo fmt` and add formatting check to CI"
Sometimes in previous PR's, code that has differed from the Rust style guidelines has had to be manually pointed out in review. Unfortunately, using `cargo fmt` ends up causing a large number of changes, because this isn't already enforced.

I'd like to propose that we begin checking that PR's follow formatting guidelines, by adding a check in CI.

**Pros:**
*  Contributors can format their code,

[2019-02-27 21:24] fitzgen commented on #251
I am in favor :+1:

[2019-02-27 21:26] data-pup commented on #251
Cool! So, for this to be closed, I think we would need:

-  A PR with the changes generated by running `cargo fmt` on the existing code
-  adjustments to the CI script to check for formatting
-  additions to the contribution docs to explain how to install `rustfmt`

[2019-02-28 20:05] data-pup commented on #251
Closed by #253, #254.

[2019-02-28 20:05] #251 closed

[2019-03-05 15:35] data-pup commented on #174
I'll start looking into this now :cat:

[2019-03-06 18:52] #226 closed

[2019-03-07 17:46] data-pup opened #261 "Interactive REPL"
## 💡 Feature Description

It would be nice if there was an interactive REPL that would allow you to quickly run a number of analyses on a program. Currently, the workflow for analyzing a wasm binary in depth is running a series of somewhat verbose commands, i.e. `twiggy dominators -n [..] -d [..] /path/to/my/binary`.

I'd love the ability to enter some sort of very basic REPL, potentially offering

[2019-03-07 21:22] fitzgen commented on #261
I think maybe something like https://crates.io/crates/tui could also be good here, rather than a REPL, but I haven't considered the idea of a REPL enough yet.

[2019-03-11 16:14] data-pup commented on #261
The `tui` crate looks really useful! Maybe it would be possible to use some of those visualisations without jumping in a draw loop? I'll poke about and see what that could look like

[2019-03-11 16:16] data-pup opened #264 "2018 Edition Migration"
Opening an issue to track work on migrating the repository to the 2018 edition, to prevent duplicated work. I started on this today, and have been going about this for each individual crate in the root workspace. Now that we're a few months into 2019, it's probably good to catch up :smile_cat:

[2019-03-11 20:18] #264 closed

[2019-03-14 15:51] data-pup opened #269 "Add unit tests to `analyze`"
## 💡 Feature Description

Currently, most of the testing for the project is performed using integration tests, in `twiggy/tests`. These provide a really great way to make sure that the entire process works correctly from end-to-end! The `TWIGGY_UPDATE_TEST_EXPECTATIONS` variable noted in `testing.md` also provides an easy way to update the expectation files when making changes.

However, this appr

[2019-05-03 23:34] fproulx-dfuse opened #287 "Module imports are not displayed"
## 💡 Feature Description

Maybe there is something I am missing, but I try running various `twiggy` commands on a WASM that I know has dozens of imports and I know the code calls them (when I check the wasm) and I do not see textual representation of those imported function calls in the graph... Maybe it's because you do not map the function to it's imported name ?

#### 🙌 Are you interested in im

[2019-05-06 14:55] data-pup commented on #287
Hi there! Thanks for filing an issue :slightly_smiling_face:

When you say 'the graph,' are you referring to the output given by the `paths` subcommand? I can look into this, and see if there might be a way to address this. If possible, a small POC recreating the issue would be very helpful, as would any examples of output that demonstrate where this is happening.

[2019-05-06 16:49] fitzgen commented on #287
@fproulx-eoscanada can you provide:

* a `.wasm` binary (preferrably a small one) that demonstrates this issue
* the exact Twiggy commands you are running
* what output you see
* what output you expected to see instead / in addition

Thanks!

[2019-05-08 02:23] rharriso commented on #109
Looks like this has been closed?

[2019-05-08 18:14] fitzgen commented on #109
The "To Do" checkboxes in the top comment accurately reflect the current state of play. There are a number of commands that don't have an `--all` flag yet.

[2019-05-15 14:11] sunfishcode opened #291 "Confusing error with wasm "a.out""
## 🐛 Bug Description

Using the [wasi-sdk](https://github.com/CraneStation/wasi-sdk) to compile a C hello world testcase to a wasm binary and examine it with twiggy:
[code]
It wasn't immediately clear what was causing this problem. After some experimenting, it appears that twiggy is determining the file type from its name. "a.out" is clang's default for executables, including wasm "executables".
[

[2019-05-15 16:22] fitzgen commented on #291
We actually fixed this on master: https://github.com/rustwasm/twiggy/pull/260 and https://github.com/rustwasm/twiggy/issues/226

Just need to cut a release, which I will do now.

[2019-05-15 16:22] #291 closed

[2019-06-24 17:42] data-pup commented on #174
Taking another swing at this now, it's looking good so far :slightly_smiling_face:

[2019-06-27 17:12] #174 closed

[2019-06-28 16:41] fitzgen opened #313 "Update guide's example output for merged func and code entries"
They are still showing off separate code and func entries, and we should update them to the new output format introduced in #308

[2019-07-01 15:01] data-pup commented on #313
Agh, good catch! I'll fix this today.

[2019-07-19 15:58] alexcrichton opened #326 "Panic when running twiggy on multithreaded wasm module"
I ran into an assertion when running `twiggy top` on a multithreaded wasm module (attached here)

[code]

[raytrace_parallel_bg.wasm.gz](https://github.com/rustwasm/twiggy/files/3411808/raytrace_parallel_bg.wasm.gz)

[2019-07-20 16:54] data-pup commented on #313
This was taken care of in #314, closing this now!

[2019-07-20 16:54] #313 closed

[2019-07-20 16:59] data-pup commented on #326
Thank you for filing an issue! I will start taking a look into the cause of this.

[2019-09-09 14:57] data-pup commented on #326
Just wanted to follow up and say sorry that this has taken a while to get to, I've been a little caught up with life things but this is at the top of my docket :slightly_smiling_face:

[2019-10-25 12:50] roblevy opened #367 "Fetch all remote branches"
## 💡 Feature Description

I want to pull a remote branch which I've never had in my local repo. I can fetch per-branch but to fetch every remote branch I need to do `Gfetch --all`. Given that there's a list of remote branches on Twiggy, I thought there might be a way to fetch _all_ the remote branches. I notice that `F` isn't mapped yet in Twiggy.

#### 💻 Example Usage

A user has been working on

[2019-10-25 14:50] bjorn3 commented on #367
I think you meant to open this issue at https://github.com/sodapopcan/vim-twiggy. This is the repo for a code size profiler, not a vim plugin.

[2019-10-25 15:32] fitzgen commented on #367
Yeah, I think this is the wrong repo :)

[2019-10-25 15:32] #367 closed

[2019-11-11 18:28] fitzgen commented on #326
Here's a smaller test case, could likely make it even smaller with `wasm-reduce` or `creduce`. I suspect that just including passive data segments or something like that is enough.

<details>

[code]

</details>

[2019-11-11 18:50] fitzgen opened #377 "Strip hashes from Rust mangled symbols?"
## 🐛 Bug Description

Rust symbols have hashes in them. Both the old symbol mangling format and the new one.

* old format, demangled: `wee_alloc::alloc_first_fit::h6af2b7fe0cb0a62f`
* new format, demangled: `core[369c8b9e1df8da3a]::slice::sort::recurse::<Foo, <[Foo]>::sort_unstable::{closure#0}>`

(Note, you can enable the new symbol format with `RUSTFLAGS=-Zsymbol-mangling-version=v0` when build

[2019-11-11 18:53] bjorn3 commented on #377
I think the hash should remain when there are two versions of the same crate.

[2019-11-11 18:53] fitzgen opened #378 "Suggest using new symbol format in monomorphizations section of guide"
We can get better info about the type parameters that were monomorphized, which should make it much easier to debug this stuff.

Therefore, we should suggest building with `RUSTFLAGS=-Zsymbol-mangling-version=v0` in the `twiggy monos` section and also probably the "concepts > monomorphizations" section.

[2019-11-11 18:55] fitzgen commented on #377
Good point, it should probably only be stripped if it is a unique monomorphization. Even within the same crate, we can have multiple duplicate monomorphizations in different codegen units, IIUC.

[2019-11-11 18:56] bjorn3 commented on #377
I believe duplicate monomorphizations have the same symbol, they are just private to their own codegen unit.

[2019-11-12 22:03] data-pup commented on #326
Thanks so much @fitzgen :heart:

[2019-11-17 00:48] eddyb opened #380 "die_parse::item_name should probably use DW_AT_linkage_name instead of DW_AT_name."
While it's possible to recover the full path by taking into account the full stack of `DW_TAG_namespace`s a `DW_TAG_subprogram` is nested in, it seems easier to rely on `DW_AT_linkage_name` to get a mangled symbol.

For example is an excerpt from `llvm-dwarfdump` on a WASM binary:
[code]
After replacing `DW_AT_name` with `DW_AT_linkage_name` in `parser/object_parse/die_parse/item_name.rs`, full de

[2019-12-25 16:50] data-pup commented on #269
I looked into this and it would be a pretty big pain to do, for fairly little gain. I'm going to close this.

[2019-12-25 16:50] #269 closed

[2019-12-27 04:39] data-pup opened #405 "Fix Nightly CI"
## 🐛 Bug Description

It seems that the nightly build for CI is failing now. Not _quite_ sure what's causing this yet, but it looks like [this](https://travis-ci.com/rustwasm/twiggy/jobs/270375267):

[code]

Note: Also entirely plausible these errors are just something happening upstream, I'm not _quite_ confident about that though. :grey_question: :confused: :grey_question:

[2019-12-27 09:29] bjorn3 commented on #405
This is probably a cache which has grown too big. Every time a different rust version is used, cargo keeps the old artifacts in the target dir.

[2020-01-05 23:07] data-pup commented on #405
Cache was part of the issue, thank you @bjorn3 for identifying that! I'll wait to close this until I've shepherded in some PR's that are currently open, but CI seems to be working again, via #408.

[2020-01-06 21:44] #380 closed

[2020-01-07 14:27] #125 closed

[2020-01-15 19:21] #405 closed

[2020-02-02 07:58] philipc commented on #4
I've got some code in [`ddbug`](https://github.com/gimli-rs/ddbug/blob/master/main/src/code.rs#L75) that uses capstone to disassemble instructions to find calls, and a copy in [`findpanics`](https://github.com/philipc/findpanics/) too. It's currently incomplete, but I'm working on updating it. Maybe I should put this in its own crate so that twiggy can use it too?

[2020-02-08 01:21] data-pup commented on #4
@philipc that would be greatly appreciated! Thank you for offering :slightly_smiling_face:

[2020-03-19 15:16] jplatte opened #439 "How do I analyze bundles without symbols?"
I've tried analyzing the bundle I'm building for [caniuse.rs](https://caniuse.rs/) with `wasm-pack build --target web` but the output is not particularily helpful for any of the subcommands, presumably because symbols have been stripped. Am I doing something wrong?

[code]

(side note: you probably want to copy roughly what [ripgrep does](https://github.com/BurntSushi/ripgrep/blob/0874aa115c92f102

[2020-04-01 17:24] fitzgen commented on #439
Unfortunately, this is the best information we can give when the custom name section is not present.

You may want to configure `wasm-pack` to either skip running `wasm-opt` entirely, or to make sure that it is passing the `-g` flag so that it doesn't strip the custom name section.

See https://rustwasm.github.io/docs/wasm-pack/cargo-toml-configuration.html for details on configuring `wasm-pack`.

[2020-04-01 17:36] jplatte commented on #439
Skipping `wasm-opt` seems like it would make any size profiling pretty pointless, no? Thanks for the the link though! :)

[2020-04-04 12:43] #439 closed

[2020-06-07 09:05] d3lm commented on #326
Running into the same issue. Trying to inspect a wasm module generated by `wasm-pack` to find out more about the binary size.

Any updates?

[2020-06-24 13:55] data-pup commented on #326
Hey @d3lm, I'm sorry about that! I've opened up a draft PR, working on it.

[2020-06-26 09:21] d3lm commented on #326
Very cool! Thanks 🙏

[2020-07-28 19:38] leebradley opened #486 "Chat link in README.md does not function"
The "Chat" link appears to be a non-functional Discord invitation.

[2020-08-09 18:24] Storyyeller opened #490 "How to use Twiggy with wasm-pack?"
I am using `wasm-pack` to compile my project to a wasm file, and attempted to use Twiggy to profile the code size, following the online documentation. However, the output of Twiggy was completely useless.

[code]

I'm guessing that Twiggy doesn't work on wasm files where the debug information was stripped, but I can't find any way to make wasm-pack output that information, and it seems counter pro

[2020-08-09 18:28] Storyyeller commented on #490
Apparently, I'm not the only one to run into this issue: https://github.com/rustwasm/twiggy/issues/439

[2020-08-09 19:00] bjorn3 commented on #490
According to the manual if you pass `--profiling` to `wasm-pack build` it includes debuginfo, but still enables optimizations. https://rustwasm.github.io/wasm-pack/book/commands/build.html#profile

[2020-08-09 19:08] Storyyeller commented on #490
Unfortunately, that doesn't actually work. The closest I could get it was specifying the wasm opt flags ['-g', '-O'] in the cargo.toml file.

[2020-09-20 21:08] tiffany352 opened #500 "Twiggy used too much memory and OOM panicked"
## 🐛 Bug Description

I tried to run `twiggy paths` on my wasm binary but it kept climbing in memory usage until it was using over 10 gigs of memory and my system ran out of memory.

twiggy version: twiggy-opt 0.6.0

#### 🌍 Test Case

GitHub doesn't let me upload wasm files directly so this is a zip with the file inside it. It's a 2.32 megabyte binary compiled using wasm-pack from [rink-js](https:

[2020-10-06 02:20] maple-leaf commented on #490
I managed to get more info by using `wasm-pack build --dev` to build. Note: if you change target to web with `-t web`, twiggy will provide less info for some reason.

The analysis of using `regex`.

[code]

And by the way,  what are the top two means? Is there a way to reduce size of them. Thanks.

[2020-10-13 07:03] DaanA32 commented on #490
Having the same issue as @maple-leaf but using seed-rs framework

[code]

[2021-01-25 10:43] Black-Tomcat commented on #109
Heya all, I'd be willing to tackle this, but I'm new to this whole open source thing.

Also, for the `top` command, it already has the maximum value for a `u32`
[code]
Would this be fine to keep or if we're adding the all option, should the default be set to something smaller? perhaps 20 like `Diff`?

[2021-06-25 17:56] EvanCarroll opened #574 "Does not work with rustc target wasm32-wasi."
Using: twiggy-opt 0.6.0

----

Code,

[code]

Cargo.toml,

[code]

Build the project,

[code]

And then try to run `twiggy`,

[code]

`wasm-nm` works though

    wasm-nm -z ./target/wasm32-wasi/release/felipe-wasi.wasm

[2021-07-19 13:09] Alexufo opened #577 "Unknown opcode (at offset 76146)"
twiggy version: twiggy-opt 0.6.0
windows

`
error: WASM error: Unknown opcode (at offset 76146)
  caused by: Unknown opcode (at offset 76146)
`

What could it be?

[2021-07-25 08:03] kdy1 commented on #490
[code]

worked for me.

[2021-08-06 19:28] #574 closed

[2021-08-06 19:30] AlexEne commented on #577
Hi,

Could you try reproducing it on the latest version (building twiggy from latest `main` branch). This should have fixed it:
https://github.com/rustwasm/twiggy/pull/576

Thanks

[2021-08-06 19:34] AlexEne commented on #490
I'll close this as I think the answer above solves it. If there are still issues, please reopen it and I'll try to reproduce it.

[2021-08-06 19:34] #490 closed

[2021-08-06 19:36] AlexEne commented on #486
Hopefully fixed with: https://github.com/rustwasm/twiggy/commit/7af31b3554c788019c37545c5c9db39c05ddd2d5

[2021-08-06 19:36] #486 closed

[2021-08-06 19:42] AlexEne commented on #287
I am closing this for now.
If the issue still persists, please reopen it with the test case as advised above in order to aid with the repro.

[2021-08-06 19:42] #287 closed

[2021-08-06 19:44] AlexEne commented on #168
I'm closing this for now as I've successfully tested the latest release on a big file.
If the issue still persists, please re-open it with the `.wasm` repro file.

[2021-08-06 19:44] #168 closed

[2021-08-06 19:48] AlexEne opened #580 "Github actions"
## 💡 Feature Description
We could move to github actions for CI use it for testing all 3 platforms without requiring travis and appveyor accounts.
This requires rewriting the current `ci/script.sh` to be platform agnostic. I've noticed `wasmtime` uses a rust runner. The benefit of that woudld be that windows contirbutors can run tests locally without requiring WSL (or something similar).

Explanat

[2021-08-06 19:48] AlexEne commented on #117
I'm closing this in favor of: https://github.com/rustwasm/twiggy/issues/580 that would also solve the windows case.

[2021-08-06 19:48] #117 closed

[2021-08-06 19:50] AlexEne commented on #93
I think this was forgotten as open since there is a book available now.
We can more targeted issues to fill various parts of the book.

[2021-08-06 19:50] #93 closed

[2021-08-06 20:06] AlexEne opened #581 "Use tui-rs for the interface"
## 💡 Feature Description
Explore using https://github.com/fdehau/tui-rs for the interface.
It's used by [gitui](https://github.com/extrawurst/gitui) and many other cool projects and we can do some pretty basic but useful data visualizations. E.g. one can imagine a column on the left with the function list and when you select a function you can explore the `wat` for it in a column to the right.

Ot

[2021-08-06 20:09] AlexEne commented on #261
As I'm doing a cleanup pass on the issues, I've added this: https://github.com/rustwasm/twiggy/issues/581 for the tui-rs integration. We can add visualization functionality & other features once the building blocks are in place.

[2021-08-06 20:09] #261 closed

[2021-08-06 20:15] AlexEne commented on #3
Was `svelte` the previous name? I got confused on this vs the javascript lib.
I'll close this for now as there probably will be some consideration needed once https://github.com/rustwasm/team/issues/294 resolves.

[2021-08-06 20:15] #3 closed

[2021-08-06 20:16] AlexEne commented on #9
Would you be supportive in closing this in favor of: https://github.com/rustwasm/twiggy/issues/581 ?

[2021-08-06 20:17] AlexEne commented on #17
If it's ok i'll close this in favor of https://github.com/rustwasm/twiggy/issues/581

[2021-08-06 20:17] #17 closed

[2021-08-06 20:18] #577 closed

[2021-08-06 22:32] AlexEne opened #582 "Clean up"
I'm opening this to provide some visibility on what I'm working on.
The repo is a bit stale and requires some care before we can add some new features (e.g. I'm excited about https://github.com/rustwasm/twiggy/issues/581, I have some prototype, it's easy to use and has super nice results).

But before we can have nice shiny things some cleanup must be done:
- [ ] Enable github actions: https://git

[2021-08-07 11:51] AlexEne commented on #580
Only remaining things are:
- [ ] Publish docs updates
- [ ] Test on windows
- [ ] Test on osx

[2021-08-07 18:53] AlexEne opened #588 "Take a stripped file and symbols as additional input"
## 💡 Feature Description

Would be cool to make this work in release mode where we have a stripped file & additional symbols info (e.g. made with [wasm-split](https://lucumr.pocoo.org/2020/11/30/how-to-wasm-dwarf/)).

#### 💻 Example Usage

It would help size optimize the release-mode binaries.

[2021-08-08 10:18] AlexEne opened #590 "Docs are not published"
## 🐛 Bug Description

We need to re-enable doc publishing as I've removed the step when moving to github actions.

[2021-08-08 10:19] #590 closed

[2021-09-02 20:09] evmar opened #603 "--format options undocumented"
## 🐛 Bug Description

The --format flag's possible values aren't described anywhere.

twiggy version: twiggy-opt 0.6.0

#### 🌍 Test Case

Upload the test case and link to it here. For example, a `.wasm` file that
Twiggy fails to parse.

#### 👟 Steps to Reproduce

[code]

[code]

[2022-03-20 17:24] DVLP opened #632 "SIMD code, lane index out of range error. Not sure if this is a bug in Twiggy or a feature request for more verbose output"
My piece of code is compiled with Emscripten. It contains SIMD instructions. When trying to run any twiggy function I'm getting an error. I don't know if this is an error in Twiggy or is it pointing to a valid error. All WABT tools work with this wasm file

error: WASM error: lane index out of range (at offset 10491)
  caused by: lane index out of range (at offset 10491)

twiggy version:
twiggy-op

[2022-03-21 11:06] AlexEne commented on #632
Thanks for the report, it sounds like a bug.

[2022-05-08 15:44] maxammann commented on #326
I just hit the same problem, I also noticed that a binary without atomic support is smaller.

[2022-06-07 16:20] AlexEne commented on #582
Removing the `failure` dependency seems to be more pressing as this is now open: https://github.com/rustwasm/twiggy/security/dependabot/1

I don't think we're getting any benefit from using it vs this_error / anyhow, so I'll just move to depend on those.

[2022-06-17 12:59] kjvalencik commented on #73
👋 This is a problem I frequently have. Relocations can cause nonsensical results in `twiggy paths` for `data` ownership. My workaround has been to decompile to `wat` and inspect the data section manually, but this is time consuming.

I'm interested in working on this feature. Can you point me in the right direction for building Rust to WASM with a relocations section?

[2022-08-17 23:21] michelledaviest commented on #326
You can trigger the same bug with the following code example as well:
[code]

[2022-08-18 09:20] AlexEne commented on #326
Thanks for this example code. If I get some time these weeks I'll check if the PR above can be fixed-up and merged!

[2022-10-20 14:50] claudiu725 opened #672 "`cargo install twiggy` results in a compilation error"
## 🐛 Bug Description

Trying to install twiggy results in a compilation error.

twiggy version: v0.7.0

#### 👟 Steps to Reproduce

* Run `cargo install twiggy`

#### 😲 Actual Behavior

<details>
  <summary>Console output (click to expand)</summary>

[code]
</details>

It seems that [the most recent release of `cpp_demangle` of 0.3.6](https://github.com/gimli-rs/cpp_demangle/tags) breaks twiggy.
Wi

[2022-10-21 07:58] claudiu725 commented on #672
It was fixed in `cpp_demangle` - see https://github.com/gimli-rs/cpp_demangle/issues/274

[2022-10-21 07:58] #672 closed

[2022-11-05 16:01] RReverser commented on #326
I'm guessing not, but have you had any luck?

[2022-11-07 08:31] d3lm commented on #326
@RReverser It's been so long. I think I may need to check it again, tho I am seeing that the bug is still present and there's also a minimal reproducable.